<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>BuggerOff!</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/css/bugoff-icon.css" />


    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<body class="myskin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default container navbar-fixed-top" style="margin:auto;">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
                <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".sidebar">
                @*<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">*@
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar red" style="background-color:red"></span>

                    <span class="icon-bar red" style="background-color:red"></span>

                    <span class="icon-bar red" style="background-color:red"></span>
                </button>

                <!-- /section:basics/sidebar.mobile.toggle -->
                <div class="navbar-header pull-left">
                    <!-- #section:basics/navbar.layout.brand -->
                    <a href="#" class="navbar-brand">
                        <img src="~/Content/BuggerOffLogo3.png" style="height:25px; padding-left:10px;" />
                    </a>

                    <!-- /section:basics/navbar.layout.brand -->
                    <!-- #section:basics/navbar.toggle -->
                    <!-- /section:basics/navbar.toggle -->
                </div>

                <!-- #section:basics/navbar.dropdown -->
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <!-- #section:basics/navbar.user_menu -->
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>

                <!-- /section:basics/navbar.dropdown -->
</div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container container" id="main-container">
        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar h-sidebar  sidebar-fixed  navbar-collapse collapse">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->
            @{
                var route = @Request.Url.AbsolutePath.ToString();
            }
           
            <ul class="nav nav-list">
                <li class="hover open outer @{if(route.Contains("Home") || route == "/"){ <text>open active</text>;}}">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-text"> Home </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="hover outer @{if(route.Contains("Tickets")){ <text>open active</text>;}}">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-bug"></i>
                        <span class="menu-text"> Tickets </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="hover"><a href="@Url.Action("Index", "Tickets")"> <i class="menu-icon fa fa-caret-right"></i> View Tickets</a></li>
                        <li class="hover"><a href="@Url.Action("Create", "Tickets")"> <i class="menu-icon fa fa-caret-right"></i> Create Ticket</a></li>
                    </ul>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="hover outer @{if(route.Contains("User")){ <text>open active</text>;}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-group"></i>
                            <span class="menu-text"> User Manager </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="hover"><a href="@Url.Action("Index", "Users")"> <i class="menu-icon fa fa-caret-right"></i> View Users</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                {
                    <li class="hover outer @{if(route.Contains("Projects")){ <text>open active</text>;}}">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil-square-o"></i>
                            <span class="menu-text"> Projects </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="hover"><a href="@Url.Action("Index", "Projects")"> <i class="menu-icon fa fa-caret-right"></i> View Projects</a></li>
                            <li class="hover"><a href="@Url.Action("Create", "Projects")"> <i class="menu-icon fa fa-caret-right"></i> Create Projects</a></li>
                        </ul>
                    </li>
                }
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            @*<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>*@

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="page-content">
                <!-- #section:settings.box -->
                <!-- /section:settings.box -->
                <div class="page-content-area">
                    <div class="row">
                        <div class="col-xs-12" id="renderHere">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        BuggerOff! &copy; 2013-2014 <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script type="text/javascript">
    jQuery(function ($) {
        var $sidebar = $('.sidebar').eq(0);
        if (!$sidebar.hasClass('h-sidebar')) return;

        $(document).on('settings.ace.top_menu', function (ev, event_name, fixed) {
            if (event_name !== 'sidebar_fixed') return;

            var sidebar = $sidebar.get(0);
            var $window = $(window);

            //return if sidebar is not fixed or in mobile view mode
            if (!fixed || (ace.helper.mobile_view() || ace.helper.collapsible())) {
                $sidebar.removeClass('hide-before');
                //restore original, default marginTop
                ace.helper.removeStyle(sidebar, 'margin-top')

                $window.off('scroll.ace.top_menu')
                return;
            }


            var done = false;
            //$window.on('scroll.ace.top_menu', function (e) {

            //    var scroll = $window.scrollTop();
            //    scroll = parseInt(scroll / 4);//move the menu up 1px for every 4px of document scrolling
            //    if (scroll > 17) scroll = 17;


            //    if (scroll > 16) {
            //        if (!done) {
            //            $sidebar.addClass('hide-before');
            //            done = true;
            //        }
            //    }
            //    else {
            //        if (done) {
            //            $sidebar.removeClass('hide-before');
            //            done = false;
            //        }
            //    }

            //    sidebar.style['marginTop'] = (17 - scroll) + 'px';
            //}).triggerHandler('scroll.ace.top_menu');

        }).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);

        $(window).on('resize.ace.top_menu', function () {
            $(document).triggerHandler('settings.ace.top_menu', ['sidebar_fixed', $sidebar.hasClass('sidebar-fixed')]);
        });


    });
    </script>
    @RenderSection("scripts", false)

    @*Script to make change from route links to single-page app*@
    <script>
        $('.nav-list a').not('.dropdown-toggle').click(function (event) {
            event.preventDefault();

            $('.nav-list').children().removeClass('open active');

            window.myclick = $(this);
            $(this).closest('.outer').addClass('open active');
            

            var URI = $(this)[0].href;
            $.ajax({
                url: URI,
                type: 'GET'
            }).done(function (data) {
                $('#renderHere').html(data);
            });
        });
     
    </script>
    @*If not logged in, generate login modal and button interaction*@
    @if(!User.Identity.IsAuthenticated)
    { 
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content-login">
                    <div class="widget widget-color-blue2">
                        <div class="widget-header">
                            <div class="row">
                                <div class="h4 col-sm-3" style="width:20%; color:white; font-size:large;" id="loginTitle">
                                    Login
                                </div>
                                <div class="h4 col-sm-6"style="color: red; width:60%; text-align:center; font-size:large; margin-top: 10px;">
                                    <span id="loginError"></span>
                                </div>
                                <div id="loginLoading" class="col-sm-3" style="margin-top:10px; padding-right: 20px; width: 20%; text-align: right; display:none; ">
                                    <i class="fa fa-spin fa-spinner" style="color:white; font-size:large;"></i>
                                </div>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main no-padding">
                                <form novalidate="novalidate">
                                    @Html.AntiForgeryToken()
                                    <!-- <legend>Form</legend> -->
                                    <fieldset>
                                        <table class="" style="margin: 0 auto; border:0px;">
                                            <tr>
                                                <td>
                                                    <label class="col-md-3 control-label" for="Email">Username</label>
                                                </td>
                                                <td>
                                                    <input data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
                                                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="col-md-3 control-label" for="Password">Password</label>
                                                </td>
                                                <td>
                                                    <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                                                    <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="center">
                                            <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                            <input name="RememberMe" type="hidden" value="false">
                                            <label for="RememberMe">Remember me?</label>
                                        </div>
                                    </fieldset>
                                    
                                    <div class="form-actions center">
                                        <button type="button" class="btn btn-sm btn-success" id="submitLogin">
                                            Log in
                                            <i class="fa fa-sign-in bigger-110"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var globalResult;
            $('#submitLogin').click(function (event) {
                event.preventDefault;

                var data = { Email : $('#Email').val(), 
                             Password : $('#Password').val(), 
                             RememberMe : $('#RememberMe').val(),
                             __RequestVerificationToken: $('[name = __RequestVerificationToken]').val()
                            };

                function resetLoginText(result)
                {
                    $('#loginTitle').html("Login");
                    if (result.success)
                        window.location = '@Url.Action("Index","Tickets")';
                }

                function onSuccess (result) {
                    //Animate login success/failure
                    $('#loginTitle').html("");
                    if (result.success) {
                        $('#loginError').attr('style', 'color: white; width:60%; text-align:center; font-size:large; margin-top: 10px;');
                        $('#loginLoading').show();
                    }
                    else
                        $('#loginError').attr('style', 'color: red; width:60%; text-align:center; font-size:large; margin-top: 10px;');
                    $('#loginError').show();
                    $('#loginError').html(result.message);
                    $('#loginError').fadeOut(2000, resetLoginText(result));
                }

                $.ajax({
                    url: '@Url.Action("LoginHelper","Account")',
                    type: 'POST',
                    data: data
                })
                .done(function (result) {
                    onSuccess(result);
                });
            });
        </script>
        }
        

</body>


</html>
