@model IEnumerable<BuggerOff.DataAccess.Ticket>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc
@using PagedList
@using System.Web.Mvc

<h2>Index</h2>


        @using (Html.BeginForm("Index", "Tickets", new { sortBy = ViewBag.sortBy, ascending = ViewBag.ascending, showCompleted = ViewBag.showCompleted }, FormMethod.Post, new { id = "searchForm" }))
        {

            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="input-group">
                        @Html.TextBox("Search", ViewBag.Search as string, new { placeholder = "Search", @class = "form-control" })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-search"></i> Search </button>
                            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            @Html.Hidden("searchBy", "Priority")
                            <ul class="drop dropdown-menu right" role="menu">
                                <li onclick="(function () { $('#searchBy').val('CreatedBy'); $('#searchForm').submit();})();"><a href="#">Created By</a></li>
                                <li onclick="(function () { $('#searchBy').val('AssignedTo'); $('#searchForm').submit(); })();"><a href="#">Assigned To</a></li>
                                <li onclick="(function () { $('#searchBy').val('Project'); $('#searchForm').submit(); })();"><a href="#">Project</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        }
        @using (Html.BeginForm("Index", "Tickets", new { sortBy = ViewBag.sortBy, ascending = ViewBag.ascending, showCompleted = ViewBag.showCompleted }, FormMethod.Post, new { id = "checkCompleted" }))
        {
            <div style="text-align:right;">
                <span style="text-align:right;">
                    Show Resolved bugs
                    <input id="showCompleted" name="showCompleted" type="checkbox" onclick="this.form.submit();" value="true" @if (ViewBag.showCompleted == true) { <text> checked="checked" </text>        } />
                    <input type="hidden" value="false" name="showCompleted" />
                </span>
            </div>
        }


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.ActionLink("Created", "Index", "Tickets", new { sortBy = "Created", ViewBag.search, ascending = !ViewBag.ascending, ViewBag.searchBy, showCompleted = ViewBag.showCompleted }, null)
                        @if (ViewBag.sortBy == "Created")
                        {
                            if (ViewBag.ascending)
                            {
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            }
                        }
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Updated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Completed)
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Assigned To
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        @Html.ActionLink("Priority", "Index", "Tickets", new { sortBy = "Priority", ViewBag.search, ascending = !ViewBag.ascending, ViewBag.searchBy, showCompleted = ViewBag.showCompleted }, null)
                        @if (ViewBag.sortBy == "Priority")
                        {
                            if (ViewBag.ascending)
                            {
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            }
                        }
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TicketStatus.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @item.Created.ToLocalTime().DateTime
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Completed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedByUser.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedToUser.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Status)
                        </td>
                        <td class="col-md-2" style="text-align:center;">
                            <span class="input-group-btn">
                                
                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-edit"></i> Edit
                                </a>
                               
                                <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-plus-sign"></i> Details
                                </a>
                                @if(User.IsInRole("Administrator")) { 
                                <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-sm btn-danger">
                                    <i class="icon-flash-off"></i> Delete
                                </a>
                                }
                            </span>
                        </td>
                    </tr>
                }

            </table>
        </div>

    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    <div id="pagelist" style="text-align:center;">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ViewBag.sortBy, ViewBag.search, ViewBag.ascending, ViewBag.searchBy, showCompleted = ViewBag.showCompleted }))
    </div>


