@model BuggerOff.ViewModels.AdminEditUSerViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using BuggerOff.DataAccess;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AspNetUser</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        <dl class="dl-horizontal">
            <dt>
                Username
            </dt>
            <dd>
                @{
                    BuggerOffEntities db = new BuggerOffEntities();
                    AspNetUser createdByUser = db.AspNetUsers.Find(Model.UserId);
                }
            </dd>
            @createdByUser.UserName
        </dl>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <ul id="Projects"></ul>
                </div>
                <div class="col-xs-6">
                    <ul id="Roles"></ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" value="Save Changes" class="btn btn-success" id="saveChanges">Save Changes</button>
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    function checkPress(dataObjectWithSelect) {
        dataObjectWithSelect.IsSelected = !dataObjectWithSelect.IsSelected;
    }
    var ViewModelData;
    $(function () {

        $('#saveChanges').click(function () {
            //get the values from the input fields
            ViewModelData.UserId = $('#UserId').val();
            $.ajax({
                url: "/Users/SaveEditViewModel",
                type: "POST",
                data: JSON.stringify(ViewModelData),
                dataType: "json",
                //traditional: true,
                contentType: "application/json; charset=utf-8",
                //success: function () { alert("Success!"); },
                //error: function () { alert("An error has occured!!!"); }
            });
            window.location.href = '/Users/Index';
        });

        /// DOM IS READY!032.6

        $.get('/Users/GetEditViewModel', { id: $('#UserId').val() }).done(function (Data) {

            // ajax get succeeded
            // show the data in console
            console.log(Data);

            ViewModelData = Data;
            $('#UserId').val(ViewModelData.UserId);
            // display data
            for (var i = 0; i < ViewModelData.Projects.length; i++) {
                var project = ViewModelData.Projects[i];
                $('ul#Projects').append(
                    '<li class="list-group-item">' +
                    '<input type="checkbox"' +
                    ((project.IsSelected === true) ? 'checked="checked"' : '') +
                    'onchange="checkPress(ViewModelData.Projects[' + i + ']);" ' +
                    'id="project' + i + '">   ' +
                    project.ProjectName +
                    '</li>');
            }
            for (var i = 0; i < ViewModelData.Roles.length; i++) {
                var role = ViewModelData.Roles[i];
                $('ul#Roles').append(
                    '<li class="list-group-item">' +
                    '<input type="checkbox"' +
                    ((role.IsSelected === true) ? 'checked="checked"' : '') +
                    'onchange="checkPress(ViewModelData.Roles[' + i + ']);" ' +
                    'id="role' + i + '">   ' +
                     role.RoleName +
                    '</li>');
            }
        });


    });

    </script>
}


